<!-- tạo form để tạo ajax mới -->
<%= form_for @ajax, remote: true do |f| %>
	<%= f.text_field :content, class: "input-box" %>
	<%= f.submit %>
<% end %>
<hr>

<!-- Hiển thị ajaxs -->
<div class="box">
<% @ajaxes.each do |ajax| %>
	<%= render "ajaxes/ajax", ajax: ajax %>   <!-- Với mỗi post ta sẽ truyền giá trị của nó vào partial file -->
<% end %>
</div>
