<%# https://www.colby.so/posts/turbo-rails-101-todo-list %>
<div>
  <h2>
    Your ajaxes
  </h2>
  <div>
    <div>
      <%= render "form", ajax: Ajax.new %>
    </div>
    <ul id="ajaxes">
      <%= render @ajaxes %>
    </ul>
  </div>
</div>
